# Created by .ignore support plugin (hsz.mobi)
.idea/
.idea/*
node_modules/
node_modules/*
.cache-loader/
.cache-loader/*
dist
dist/*
*.lock
.cache
*.exe
web-build
web-build/*
*.zip
backup
*.pid
asset
logs
template
Shuyang-monitoring-server
